<%= link_to 'All Events', root_path %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>


<h1>All Users:</h1>

<div>
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user) %><br><br>
  <% end %>
</div>